@use 'variables' as *;



p {
  max-width: 48ch;
  color: $text-primary;
}

.p--light {
  color: $text-light;
  max-width: 40ch;
  line-height: 1.75;
}

.content {
  font-size: $size-1;
  color: $text-primary;
}


h1 {
    font-size: $size-6;
    color: $headline-light;
    line-height: 1.2;   
}

.page-title {
  font-size: $size-7;
  color: $headline-light;
  line-height: 1.1;   
}

.supporting-text {
    // Supporting text is meant to accompany headlines
    font-size: $size-2;
    color: $text-light;
    margin-top: $space-md;
}


.section-headline,
h2 { 
    font-size: $size-4;
    color: $text-primary;
    line-height: 1.25;
    font-weight: $font-semibold;
}

.section-headline--light {
  @extend .section-headline;
  color: $headline-light;
}



 
.card-title,
h3 {
    // Title styling for card elements and other UI component
    font-size: $size-card;
    font-weight: $font-medium;
    line-height: 1.3;
    color: $headline-light;
  }

  .card-title--dark {
    color: $brand-primary;
  }

  .card-title--v2,
h4 {
    // Title styling for card elements and other UI component
    font-size: $size-1;
    font-weight: $font-semibold;
    line-height: 1.3;
    color: $brand-primary;
  }



.body--light {
  line-height: 1.5;
  color: $text-light;
}


  
.card-body {
    font-size: 1.15rem;
    font-weight: $font-regular;
    color: $text-light;
  }


.subtitle {
  display: block;
  color: $text-light;
  font-size: $size-0;
  font-weight: $font-regular;
}



   /* === OTHER === */


  cite {
    font-style: normal;
    font-weight: $font-medium;
    line-height: 1.6;
  }

  .content-box {
    font-size: $size-1;
    line-height: 1.5;
    width: 40ch;
  }