@use 'variables' as *;
@use 'mixins' as *;


   /*    BUTTONS   */


   .cta {
    @include button-base;
    display: inline-block;
    padding: $space-lite $space-2x;
    border-radius: $radius/2;
    border: 1px solid white;
    font-size: $size-0;
    font-weight: $font-semibold;
    background-color: $brand-accent;
    color: $headline-light;

    &:hover {
      color: $brand-primary;
      background-color: darken($headline-light, 10%);
    }
   }


 .secondary-btn {
  @include button-base;
    display: inline-block;
    padding: $space-lite $space-2x;
    background-color: hsl(217, 94%, 49%);
    border: 1px solid $brand-dark;
    border-radius: calc($radius / 2);
    color: white;
    font-weight: $font-regular-plus;
    box-shadow: 
      0 1px 0 #cce0ff, 
      0 2px 0 #b8d1f9, 
      0 6px 2px rgba(8, 88, 221, 0.1), 
      0 0 5px rgba(8, 88, 221, 0.1), 
      0 1px 3px rgba(8, 88, 221, 0.1), 
      0 5px 10px rgba(8, 88, 221, 0.1);

    &:hover {  // Note the & here
      background-color: hsl(234, 95%, 48%);
    }
}


  
.arrow-btn {
    place-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid $headline-light;
    border-radius: 50%;
    @include button-base;
  
    &:hover {
      background-color: $brand-accent;
    }
    
   
  }

  .arrow-btn--v2 {
    place-items: center;
    border: none;
    @include button-base;

    img {
      width: 2.5rem;
    }
   
   
  }

 
 /*    DECORATIVE ELEMENTS    */

 .eyebrow {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: $space-lite;
  font-size: $size-minus;
  font-weight: $font-semibold;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.9;
  margin-bottom: $space-1x;
  color: $brand-primary;





  // Brand gradient variation
  &--brand {
    color: $brand-primary;
    background: linear-gradient(
      90deg,
      hsla(203, 100%, 83%, 1) 0%,
      hsla(196, 39%, 67%, 0.5) 50%,
      hsla(183, 18%, 51%, 0) 100%
    );
  }

  // Dark variation
  &--dark {
    background: linear-gradient(90deg, rgb(100, 93, 228) 0%, rgba(175,206,250,1) 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: $space-3q;
  }

  &--light {
    color: whitesmoke;
    font-weight: $font-semibold;
    margin-bottom: $space-lite;
  }

  &--closer { //For centered sections or sections without the icon, since the distance will appear larger
    margin-bottom: $space-3q;
  }


  .eyebrow-icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 1px;

  }

}

.blog-tag {
  display: inline-block;
  padding: $space-micro $space-3q;
  background-color: $brand-washed;
  color: $headline-light;
  font-size: $size-minus;
  font-weight: $font-medium;
  border-radius: $radius / 4;
  width: fit-content;
  margin-bottom: -$space-lite;
}



  // Filters and effects

  .text-filter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    /* Increase the height to allow for a longer, more gradual transition */
    height: 35%;
    
    /* Extend the gradient farther with more color stops for a smoother fade */
    background: linear-gradient(
      to top,
      rgba(1, 19, 54, 0.15) 0%,
      rgba(3, 19, 48, 0.1) 50%,
      rgba(1, 26, 74, 0) 100%,
    );
    
    backdrop-filter: blur(0.65px);
    
    z-index: 1;
  }
  





   /* Testimonial Cards */
  
   .testimonial-card {
    display: grid;
    grid-template-columns: 40% 1fr;
    width: 70%;
    height: 78vh;
    margin-inline: auto;
    background: $bg-dark;
    border-radius: $radius;
    overflow: hidden;
    color: $headline-light;


    transition: opacity 0.3s ease;
    
    > img {
      @include full-img;
      border-end-end-radius: $radius * 2;

    }
  }
  

.testimonial__body {
  padding-top: $space-4x;
  padding-bottom: $space-3x;
  padding-inline: $space-4x;    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  > img {
    width: 10rem;
  }
  
  blockquote {
    flex-shrink: 1;
    line-height: 1.75;

  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;

  }
}



   /* ==== Process Card ==== */

.process-card {
  @include flex-column; // Using existing mixin
  width: 40ch; // Standard card width
  padding-block: $space-3x;
  padding-inline: $space-3x;
  background-color: $dusty-white;
  border: 3px solid $brand-pastel;


  border-radius: $radius;

  p {
    color: $text-primary;
  }

  &--md {
    width: 45ch;
  }

  &--lg {
    width: 50ch;
  }
  
  // Header container
  &__header {
    display: flex;
    align-items: center;
    gap: $space-1x;
    margin-bottom: $space-1x;
  }

  // Number indicator
  &__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; // Prevents shrinking when title is long
    width: 2rem;
    height: 2rem;
    background-color: $brand-primary;
    border-radius: 25%;
    color: $headline-light;
    font-size: $size-0;
    font-weight: $font-semibold;
  }
}



   /* ==== Blog Card ==== */


.blog-card {
  display: grid;
  max-width: 420px;
  padding: $space-1x $space-1x $space-md $space-1x;
  background-color: $brand-pastel;
  border-radius: $radius;
  flex-shrink: 0;
  
  &__image {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: $radius $radius 0 0;
      pointer-events: none;
  }
  
  &__content {
      display: flex;
      flex-direction: column;
      padding-top: $space-1x;
      padding-inline: $space-3q;
  

      * + * { 
        margin-top: $space-1x; }
  }

  .description {
    padding-bottom: $space-md;
    font-size: $size-0;
    font-weight: $font-regular;
    color: $text-primary;
  }
  
  .read-time {
      font-size: $size-minus;
      color: $text-primary;
      font-weight: $font-medium;
  }
}



/* ====================== QUOTE FORM =========================== */


#quote {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-image {
  /* No need to specify width - grid takes care of it */
  background-image: url('../assets/quote-form.jpg');
  background-size: cover;
  background-position: center;
}

.popup {
    display: grid;
    grid-template-columns: 40% 1fr; 
    width: 70vw;
   
    border-radius: $radius;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(7, 54, 112, 0.2);

}


.popup-content {
  /* No need to specify width - grid takes care of it */
  background-color: white;
  position: relative;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(77, 77, 77, 0.6);
}


.quote-form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: white;
  padding: $space-4x;
  padding-bottom: $space-2x;
  box-shadow: 0 10px 25px rgba(7, 54, 112, 0.2);
  

  
  h1 {
    font-size: $size-3;
    color: $brand-dark;
    margin-bottom: $space-3q;
  }
  
  .form-intro {
    font-size: $size-0;
    color: $text-primary;
    margin-bottom: $space-md;
    max-width: 45ch;
  }
}

// Form layout and components
.form-row {
  display: flex;
  gap: $space-2x;
  margin-bottom: $space-lite;
  

}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: $space-lite;
}

label {
  font-size: 0.9rem;
  font-weight: $font-medium;
  color: $brand-dark;
  margin-bottom: $space-lite;
  margin-left: 0.25rem;
}

input, 
textarea {
  padding-block: $space-lite;
  padding-inline: $space-3q;
  border: 1px solid hsla(230, 35%, 15%, 0.2);
  border-radius: $space-lite;
  font-size: 0.9rem;
  height: 2.5rem;
  line-height: 1.5;
  width: 100%;
  
  &::placeholder {
    color: hsla(230, 35%, 15%, 0.4);
    font-size: 0.9rem;
    font-weight: $font-medium-plus;

  }
  
  &:focus {
    outline: none;
    border-color: $brand-accent;
    box-shadow: 0 0 0 2px rgba($brand-accent, 0.2);
  }
}

textarea {
  resize: none;
  height: 100px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: $space-lite;
  background-color: $brand-accent; // Based on the orange from the image
  color: white;
  border: none;
  border-radius: calc($radius/2);
  font-size: $size-1;
  font-weight: $font-medium;
  cursor: pointer;
  margin-top: $space-1x; //It's actually like space-md because the margin-bottom from form-group adds up to the total distance
  transition: background-color 0.2s ease;
  
  &:hover {
    background-color: darken(#003bbb, 15%);
  }
}

.privacy-notice {

  font-size: $size-minus;

  align-self: center;
  color: $text-primary;
  margin-top: $space-1x;
  
  a {
    color: $text-primary;
    font-weight: $font-medium;
    text-decoration: underline;
    
    &:hover {
      color: $brand-accent;
    }
  }
}