@use 'scss/index' as *;
@use 'pages/index' as *;

 
/* CSS RESET */

 *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: none;

}

ul, ol {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

img, picture, svg {
    max-width: 100%;
    display: block;

    /* Prevent image dragging without blocking pointer events */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

input, button, textarea, select {
    font: inherit;
}



 /*    BASE CSS    */

 body {
  font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
  font-size: $size-1;
  line-height: 1.5;
  color: $text-primary;
  background-color: $bg-light;
  overflow-x: hidden; // Prevent slider content overflowing and making the page wider than it needs to

}


//Chatbot Isolation
#chatbot {
  all: initial;
  font-family: 'Plus Jakarta Sans', system-ui, sans-serif;



}



  
/*   NAVIGATION  */



.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: $space-4x;
  padding-block: $space-1x;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(0.25px);
  
  /* Hide until DOM fully loaded to prevent flicker */
  opacity: 0;
  transition: 
      transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.25s cubic-bezier(0.5, 1, 0.2, 1),
      opacity 0.2s ease-in;

  &.is-loaded {
    opacity: 1;
  }

  &.is-scroll-down {
    transform: translateY(-100%); /* Slide up outside of view */
  }

  &.is-scroll-up {
    transform: translateY(0); /* Slide down into view */
    background-color: $bg-dark;
  }
  
  /* Your existing animation code */
  animation-timeline: scroll();
  animation-range: 0 1100px;
  animation-name: headerBackground;
  
  @keyframes headerBackground {
    from {
      background-color: rgba($bg-dark, 0);
    }
    to {
      background-color: rgba($bg-dark, 1);
    }
  }





  &--services {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-inline: $space-4x;
    padding-block: 2.75rem; //Main-navigation padding is adding an extra 1.5rem (total) of vertical spacing, so this version of the header needs different vertical padding proportions to mantain dimension consistency.
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;


    transition: 
    transform 0.45s ease;

      .main-navigation {
        filter: drop-shadow(0 0 3px rgba(16, 3, 3, 0.35));


          .nav-link {
            text-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);

          }

      }



  &.is-scroll-down {
      transform: translateY(-100%);
  }

  &.is-scroll-up {
      transform: translateY(0);
  }


  }
}

 
 

 @keyframes headerBackground {
  from {
    background-color: rgba($bg-dark, 0);
    padding-top: $space-3x;
  }
  to {
    background-color: rgba($bg-dark, 1);
    padding-block: $space-1x;
  }
}



  

.logo {
  display: block;

  
  img {
    width: 11rem;
    height: auto;
  }
}

.main-navigation {
  @include flex-row(3.75rem);

}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: $size-1;
  font-weight: $font-medium;
  transition: color 0.2s ease; // Changed from opacity to color for the hover effect
  position: relative; // Added to position the dot correctly
  padding-bottom: 6px; // Add padding to accommodate the dot

  
  // White dot indicator (hidden by default)
  &::after {
    content: '';
    position: absolute;
    bottom: -5px; // Position below the text
    left: 50%;
    transform: translateX(-50%) scale(0); // Center horizontally and hide initially
    width: 4px; // Size of the dot
    height: 4px; // Size of the dot
    background-color: $brand-light; // White dot
    border-radius: 50%; // Make it circular
    transition: transform 0.2s ease; // Smooth transition for the dot
  }
  
  // Hover state
  &:hover {
    color: mix($brand-light, white, 75%); // 75% brand-light, 25% white
    
    &::after {
      transform: translateX(-50%) scale(1.2); // Show the dot
      
    }
  }
  
  // Active state
  &.active {
    
    &::after {
      transform: translateX(-50%) scale(1.2); // Show the dot
      background-color: rgb(255, 255, 255); 

    }

    &:hover { //Cancel the color change hover effect when link is active
      color: white;
    }


  }
}


 
  .slider-nav {
    @include flex-row;
  }


 
  





/* ==== FOOTER ==== */

.site-footer {
  background-image: url('/assets/footer-pattern--blue.jpg');
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
  
  /* Subtle brightness adjustment to enhance pattern visibility */
  color: $headline-light;
  display: flex;
  flex-direction: column;
  margin: 0.75rem ;
  margin-top: $space-8x;
  height: calc(93vh - 1.5rem);
  width: calc(100vw - 1.5rem);
  border-radius: calc($radius/2);
  padding-top: $space-6x;
  padding-bottom: $space-1x;
  padding-inline: $space-4x;

}



.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  
    .footer-logo {
      width: 100%;
      justify-self: center;
      height: auto;


 

    }

}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 0.75rem;

  

  
  a {
    color: white;
    font-weight: $font-medium;
    font-size: 1.1rem;

    &:hover {
      color: $brand-light;
    }
  }
  

}


.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  background: rgba(5, 22, 107, 0.25);
  backdrop-filter: blur( 9px ) saturate(130%);
  -webkit-backdrop-filter: blur( 9px);
  border-radius: $radius;
  /* Subtle 3D glossy border effect */
  box-shadow: inset 0 16px 24px rgba(0,0,0,0.16), 0 0 6px 3px hsla(216, 93%, 11%, 0.231);

  width: 40%;
  height: 60vh;
  border-radius: $radius;
  font-weight: $font-regular-plus;


    p {
      color: white;
      font-size: 1.75rem;
      line-height: 1.4;

      &:first-of-type {
        line-height: 1.25; /* narrower line height for first paragraph */
      }
    }

    h4 {
      color: whitesmoke;
      font-size: 3.25rem;
      letter-spacing: -1px;
      font-weight: $font-medium-plus;
      line-height: 1;
    }

    .arrow-icon {
      background-image: url('../assets/icons/arrow-cta.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 0;
      height: 2rem;
      margin-right: 0;
      opacity: 0;
      transition: all 0.3s ease;
      display: inline-block;
    }
  
    &:hover {
      background: $brand-primary;
      box-shadow: none;

      
      .arrow-icon {
        width: 2.5rem;
        margin-right: 0.5rem;
        opacity: 1;
      }
    }
  }


.footer-legal {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  color: rgb(206, 206, 206);
  margin-top: auto;
  font-size: $size-0;

    a {
      margin-right: $space-3x;
    }

    small{
      font-size: 0.8rem;
    }
}





