@use '../scss/variables' as *;
@use '../scss/mixins' as *;


.contact {
    display: flex;
    height: calc(100dvh - 1.5rem);
    width: calc(100vw - 1.5rem);
    border-radius: calc($radius/2);
    background-image: url('/assets/process-pattern.jpg');
    background-size: cover;
    background-position: left top;
    margin: $space-3q;
    color: $headline-light;
    padding: 4.75rem;
    padding-bottom: 4rem;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;

    @include desktop-lite {
      padding-right: 2rem;
    }

       @media (max-height: 650px) {
      //Ensure the content doesn't get too close to the navbar on landscape mode for tablets
      padding-bottom: $space-2x;

    }

  
  
  header {
    display: flex;
    flex-direction: column;
    width: 40%;

  
    @include desktop {
      width: 50%;
    }

    @include desktop-lite {
      width: 90%;
    }
    
    .supporting-text--v2 {
     font-size: $size-3;
     margin-top: $space-1x;
     color: white;
  

      @include desktop-lite {
        display: none;
      }

    }

    .page-title {
      @include desktop-lite {
        font-size: 6rem;
        line-height: 0.9;
        letter-spacing: -2px;
        font-weight: bold;
      }
    }


    
  }


  .contact-card {
    width: 37.5vw;
    background: rgba(6, 36, 108, 0.075);
    box-shadow:  0px 1px 2px 1px hsla(215, 100%, 4%, 0.4);
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: calc($radius/2);
    padding: $space-2x;
    display: flex;
    flex-direction: column;
    gap: $space-3q;



    @include desktop-lite {
      width: 100%;
      padding: $space-md;
    }

 
  }
  
  .contact-item {
    background: hsla(217, 90%, 24%, 0.5);
    box-shadow:  0px 1px 2px 2.5px hsla(219, 88%, 3%, 0.4);
    border-radius: calc($radius/2);
    padding: $space-md;
    display: flex;
    align-items: center;
    gap: $space-md;
    transition: background-color 0.3s ease;
    
    &:hover {
      background: hsla(217, 95%, 7%, 0.95);
     
    }
    
    @include desktop-lite {
      gap: 1.25rem;
      padding-block: 1.25rem;
    }

  }
  
  .contact-icon {
    width: 1.75rem;
    height: auto;
    filter: invert(100%);
  }
  
  .contact-text {
    font-size: $size-card;
    font-weight: $font-medium-plus;
    color: white;
  }

}

//Reduce distance to footer exclusively on Contact Page

#contact-page .site-footer {
  margin-top: $space-2x;
}